// clear fix
@mixin cf() {
    &:before,
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

// center
@mixin center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

$red: #fc3f3b;
$blue: #34a5ff;
$green: #94ed22;
$yellow: #f7e649;
$orange: #f9900c;
$purple: #ed97fb;
$white: #fff;
$gray: #aaa;
$black: #000;
$danger: #e21a1a;
$pink: #ff4e8a;
$highlight: #f9dead;
$highlighter: #ffdb67;
$lime: #b8f472;

//
// Game rarity colors
//
$rarity-common: #fff;
$rarity-scares: #C4F58B;
$rarity-rare: #78D4FF;
$rarity-relic: #E55FFC;
$rarity-aetherial: #FE82AC;

@import "basic.scss";
@import "theme.scss";
