// ----------------------------------------------------------------------
// Google Colors
// based on: http://www.google.co.uk/design/spec/style/color.html#color-color-palette
// ----------------------------------------------------------------------
$red: #EF5350;
$blue: #64B5F6;
$green: #9CCC65;
$yellow: #FFEE58;
$orange: #FB8C00;
$purple: #CE93D8;
$white: #fff;
$gray: #555;
$black: #000;
$danger: #D32F2F;
$pink: #F06292;
$highlight: #DCC9A5;
$highlighter: #FFDE74;
$lime: #AED581;

// icon sizes
$iconSize: 92px;

// ----------------------------------------------------------------------
// Game rarity colors
// ----------------------------------------------------------------------
//$rarity-common: #fff;
$rarity-scares: #AED581;
$rarity-rare: #64B5F6;
$rarity-relic: #BA68C8;
$rarity-aetherial: #F06292;

//
// Don't underline links
//
a[data-xivdb-tooltip] {
    text-decoration: none !important;
}

//
// clear float
//
.xivdb-cf {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.xivdb-left {
    float: left;
    width: 230px;

    .xivdb-cdl-left,
    .xivdb-cdl-right {
        width: 50% !important;
    }
}

.xivdb-right {
    float: left;
    padding-right: 30px;
}

//
// Colors
//
.pure { color: #fff !important }
.white { color: $white !important; }
.light { color: darken($white, 50%) !important; }
.red { color: $red !important; }
.blue { color: $blue !important; }
.green { color: $green !important; }
.yellow { color: $yellow !important; }
.orange { color: $orange !important; }
.purple { color: $purple !important; }
.gray { color: $gray !important; }
.lime { color: $lime !important; }
.pink { color: $pink !important; }
.sky { color: lighten($blue, 15%) !important; }
.magenta { color: lighten($purple, 15%) !important; }
.highlight { color: $highlight !important; }

//.rarity-common  { color: $rarity-common; }
.rarity-scares { color: $rarity-scares; }
.rarity-rare { color: $rarity-rare; }
.rarity-relic { color: $rarity-relic; }
.rarity-aetherial { color: $rarity-aetherial; }

//.rarity-common-darken { color: $rarity-common; }
.rarity-scares-darken { color: darken($rarity-scares, 30%); }
.rarity-rare-darken { color: darken($rarity-rare, 30%); }
.rarity-relic-darken { color: darken($rarity-relic, 30%); }
.rarity-aetherial-darken { color: darken($rarity-aetherial, 30%); }

//
// Frame
//
.xivdb {
    font-family: Arial;
    color: #fff;

    display: none;
    position: absolute;
    z-index: 999999999999 !important;
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
}

table.xivdb-frame {
    width: auto !important;
    text-align: left;
}

.xivdb-frame {
    font-family: Arial;
    color: #fff;
    background-color:#000;
    border-radius: 7px;
    border: none;
    font-size: 12px;
    line-height: 18px;

    hr {
        height: 1px;
        border: none;
        background-color: #000;
        box-shadow: 0 1px 0 #333;
        margin: 10px -12px 10px -11px;
    }

    td {
        border: none;
        padding: none;
        margin: none;
        text-align: left;
    }

    .fa-angle-right {
        display: inline-block;
        text-align: center;
        width: 10px;
    }

    &.xivdb-frame-shadow {
        box-shadow: 0 0 15px #000;
    }
}

.xivdb-ft { background:url(http://xivdb.com/img/tooltips/tooltip-sprite-height.png) repeat-x top center; }
.xivdb-ftl { background:url(http://xivdb.com/img/tooltips/tooltip-sprite.png) no-repeat top left; border-radius: 9px 0 0 0; }
.xivdb-ftr { background:url(http://xivdb.com/img/tooltips/tooltip-sprite.png) no-repeat top right; border-radius: 0 9px 0 0; }
.xivdb-fb { background:url(http://xivdb.com/img/tooltips/tooltip-sprite-height.png) repeat-x bottom center; }
.xivdb-fbl { background:url(http://xivdb.com/img/tooltips/tooltip-sprite.png) no-repeat bottom left; border-radius: 0 0 0 9px; }
.xivdb-fbr { background:url(http://xivdb.com/img/tooltips/tooltip-sprite.png) no-repeat bottom right; border-radius: 0 0 9px 0; }
.xivdb-fml { background:url(http://xivdb.com/img/tooltips/tooltip-sprite-width.png) repeat-y center left; }
.xivdb-fmr { background:url(http://xivdb.com/img/tooltips/tooltip-sprite-width.png) repeat-y center right; }

.xivdb-fw { width:16px; line-height:0; }
.xivdb-fh { height:16px; line-height:0; }

//
//
// Styles related to the main content pages
//
//
.xivdb-cdl {
    @extend .xivdb-cf;
    margin-bottom: 5px;

    .xivdb-cdl-left {
        float: left;
        width: 35%;
        color: $highlight;
    }

    .xivdb-cdl-right {
        float: right;
        width: 65%;
    }
}

.xivdb-cs {
    @extend .xivdb-cf;
    font-size: 14px;

    > div {
        margin-bottom: 3px;
    }
}

.xivdb-chi {
    max-width: 370px;
    display: block;
    margin: -10px -12px 10px -11px !important;
    background: #000;
    background-image: url(http://xivdb.com/img/textures/ui-dark.png);
    padding: 10px;
    border-bottom: solid 1px #000;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.5), 0 1px 0 #333;
}

.xivdb-fc {
    background-color: #292929;
    font-size: 12px;
    min-width: 300px;
    position: relative;
    z-index: 3;
}

.xivdb-cb {
    display: inline-block;
    background-position: center;
    margin: -10px -11px 10px -11px;
    border-bottom: solid 1px #000;
    box-shadow: 0 1px 0 #444;
    width: 370px;
    height: 110px;
}

.xivdb-copyright {
    margin: 5px 0 -5px 0;
    font-size: 11px;
    text-align: right;
    color: #999;
}

.xivdb-ch {
    @extend .xivdb-cf;

    margin: -11px -12px 10px -11px;
    border-radius: 6px 6px 0 0;
    background-color: rgba(100,100,100,.3);
    box-shadow: inset 0 0 2px #666;
    border-bottom: solid 1px #000;
    padding: 10px;
}
.xivdb-ch-icon {
    float: left;
    width: 42px;
    height: 42px;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #222;

    border:solid 1px #000;
    border-radius: 5px;
    box-shadow: 0 0 3px #555;

    &.xivdb-ch-icon-auto {
        background-size: auto;
    }
}
.xivdb-ch-data {
    float: left;
    margin: 0 0 0 15px;
    width: calc(100% - 60px);
}
.xivdb-ch-dt {
    font-size: 18px;
    font-weight:normal;
    font-family: Arial;
    margin-bottom: 5px;
    line-height: 24px;
}
.xivdb-ch-ds {
    font-size: 11px;
    margin: 2px 0 0 0;
}

.xivdb-cc {
    max-width: 400px;
    margin-bottom: 10px;
}

.xivdb-cc-block {
    display: inline-block;
    text-align: right;
    border-radius: 3px;
    border-bottom: solid 6px #333;
    margin: 0 5px 0 0;
    height: 34px;
    padding: 0 5px 0 0;
}
.xivdb-cc-bt {
    color: $highlighter;
    font-size: 11px;
    margin: 0 0 5px 0;
}
.xivdb-cc-bn {
    color: #5EA0F2;
    letter-spacing: -1px;
    font-size: 20px;
    font-family: Arial;
}

.xivdb-csb {
    display: block;
    margin:4px 0;
}
.xivdb-csb-title {
    display: inline-block;
    width: 160px;
    color: $highlighter;
}
.xivdb-csb-number {
    display: inline-block;
    width: 50px;
    color: #5EA0F2;
}
.xivdb-csb-number2 {
    display: inline-block;
    width: 50px;
    color: #95b153;
}
.xivdb-csb-number3 {
    display: inline-block;
    width: 80px;
    background-color: #f00;
    color: #EAB63C;
}

.xivdb-ch-set-bonus {
    color: #95b153;
    margin: 15px 0 2px 0;
    font-size: 10px;
}

.xivdb-c-label {
    font-size: 10px;
}
.xivdb-c-title {
    width: 100px;
    color: #948c7b;
    font-size: 11px;
    display: inline-block;
}
.xivdb-c-context {
    width: 180px;
    color: #eee;
    font-size: 11px;
    display: inline-block;
}
.xivdb-c-info {
    font-size: 11px;
    line-height: 18px;
    color: #999;
    background-color: #222;
    max-width: 400px;
    padding: 10px;
    border-bottom:solid 1px #000;
}

.xivdb-isz em {
    display: inline-block;
    font-size:10px;
    border-radius: 3px;
    margin: 5px 10px 0 0;
    text-transform: uppercase;
    color: #C39BCD;
    font-style: normal;
}

.xivdb-ii {
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 5px 0 0;
    border-radius: 2px !important;
    width: 20px !important;
    height: 20px !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;

    &.xivdb-iir {
        border-radius: 50% !important;
    }
}

.xivdb-dt {
    font-size: 16px;
    color: $pink;
    margin-bottom: 10px;
}

.xivdb-sti {
    font-size: 13px;
    margin-bottom: 5px;
}

.xivdb-lcz {
    color: $pink;
    font-size: 14px;
    margin-bottom: 10px;
    max-width: 300px;
}

.xivdb-ch-dts {
    font-size: 14px;
}

.xivdb-msl {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;

    li {
        margin: 0 0 0 0;
        padding: 1px 0 1px 10px;
        border-left: solid 2px #444;

        em {
            display: inline-block;
            width: 200px;
            color: $highlight;
        }
    }
}
